
@{
    ViewBag.Title = "View";
}

<h2>Login</h2>

<hr>



@Html.Label("Enter Username")
@Html.TextBox("username", "", new { @class = "form-control", placeholder = "Username" })
<br>
@Html.Label("Enter Password")
@Html.Password("password", "", new { @class = "form-control", placeholder = "Password" })

<span id="ErrorMessage"></span>
<br>
<input id="submit" class="btn" type="button" value="Submit">


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>


<script>

    $('document').ready(function () {

        $('#submit').on('click', function () {
            var username = $('#username').val();
            var password = $('#password').val();

            if (username == "" || password == "") {
                document.getElementById('ErrorMessage').innerHTML = 'Please Fill both the fields';
                return;
            }
            else {
                SendInformationToWebApiToAuth(username, password);
            }
        });


        function SendInformationToWebApiToAuth(username,password) {

            $.ajax({
                url: 'http://localhost:53310/api/Login',
                type: 'GET',
                contentType: "application/json",
                dataType: 'json',

                headers: { 'Authorization': 'Basic ' + btoa(username + ':' + password) },


                success: function (result) {

                    window.location.href ="http://localhost:51380/Home/Logout"


                },
                error: function (err) {
                    document.getElementById('ErrorMessage').innerHTML = 'User Not Registered You need to Register first';
                }
            });  

        }


    });


</script>


